<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>LEO SHOP</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="main.js"></script>
</head>
<body>
  <div id="app" class="wrap">
    <header class="header">
      <a href="/" class="logo">LEO SHOP</a>   
      <!-- <navi class="navi">
        <a href="#" class="navi-item">Home</a>
        <a href="#" class="navi-item">Women</a>
        <a href="#" class="navi-item">Man</a>
        <a href="#" class="navi-item">Other</a>
        <a href="#" class="navi-item">Purchase</a>
      </navi> -->
      <div class="seacrh-good-wrap">
        <input type="text" name="" class="searchString">
        <button class="filter-goods-button" @click="filterGoods">Поиск</button>
      </div>
      <input type="image" src="img/cart.png" class="cart-button" v-if="isVisibleCart">
  </header>
  <main>
    <p class="no-goods-message" v-if="filteredGoods.length == 0">Нет данных</p>
    <div class="goods-list" v-if="goods.length > 0" v-for="good in filteredGoods">
      <div class="goods-item">
        <div class="good-info-wrap">
          <span class="good-title">{{good.product_name}}</span>
          <span class="good-price">{{good.price}}$</span>
        </div>
        <button class="add-to-cart"></button>
      </div>
    </div>
  </main>
  </div>
</body>
</html